<div id="snow" data-count="200"></div>
.snowflakess(aria-hidden='true')
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  
  
.navbar-containerphicss
      // Start offer navbar
      .offer-nav-style5
        .containerphicss
          .row.align-items-center.gx-0
            .col-lg-3
              h4.ml-5.fsz-30.fw-600(style="color : white;") E-Commerce Website
            .col-lg-3
              .timing(style="margin-left : 80px;")
                .item
                  small(style="color : #809AA7; font-weight : 600;") Day
                  P(style="color : #5B97BF;") #{newdata[0]}
                .item
                  small(style="color : #809AA7; font-weight : 600;") Month
                  p(style="color : #5B97BF;")  #{newdata[1]}
                .item
                  small(style="color : #809AA7; font-weight : 600;") Year
                  p(style="color : #5B97BF;")  #{newdata[2]}
         
            .col-lg-6.text-lg-end
              a.butn.md-butn.bg-brown1.text-white.radius-3.fw-600.fsz-12.text-uppercase(href="/auth/loginadmin" style="background : white !important;")
                span(style="color : #5B97BF; font-weight 600;") Kênh Người Bán
        span.cls
      // End offer navbar
      // Start top-navbar
      // End top-navbar
      // Start navbar
      nav.tc-navbar-style5.navbar-light
        .containerphicss
          .content
            .row.align-items-center
              .col-lg-2
                a.brand(href="/")
                  img(
                    alt="" 
                    style ="object-fit: cover;"
                    src="/css/logo8.jpg"
                    )
                a.btn-mob-menu.d-lg-none(
                  data-bs-toggle="offcanvas" 
                  href="#offcanvasExample"
                  )
                  i.fal.fa-bars
              .col-lg-5.pe-lg-4.mt-4
                .search-cat(style="margin-left :50px;")
                  form(formsubmitseachclienttongquang)
                    .input-group.d-flex.align-items-center
                        input.form-control(
                          style="background : white; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; !important;"
                          placeholder="Tìm kiếm tổng quang" 
                          type="text"
                          name="data"
                          )
                        button.search-btn.color-orange1.d-flex.align-items-center.justify-content-center(type="submit" style="background : #5B97BF; width : 50px; height : 46px; !important; border-radius : 50%;")
                          i.fal.fa-search(style="color : white; font-size : 17px;")
              .col-lg-5
                .nav-side.d-none.d-lg-flex
                  .hot-line.d-flex.align-items-center(style="margin-left : 120px;")
                    <i class="fa-solid fa-phone-volume" class="icon" style ="margin-right : 25px; margin-top:5px; font-size : 28px; color : #5B97BF;"></i>
                    .inf
                      small.fsz-12.d-block.mb-1(style="color : #809AA7;") Hotline 24/7
                      h6.fsz-16.fw-bold
                        a(href="tel:(025)36862516" style="color : #809AA7;") (036) 2655 781
                  .icons.mt-3
                    a(href="/auth/loginuser/logout")
                      i(class="fa-solid fa-arrow-right-to-bracket" style="color : #5B97BF; font-size : 21px;")
                    a(href="/profile")
                      <i class="fa-regular fa-user" style="color : #5B97BF;font-size : 21px;"></i>
                      span.dot
                    a(href="/chat/null")
                      <i class="fa-regular fa-comments" style="color : #5B97BF; font-size : 21px;" ></i>
                    a(href="/cart/cartuser")
                      i.fal.fa-shopping-bag(style="color : #5B97BF; font-size : 21px;")
                      span.num 2
