doctype html
head
  // Metas
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  meta(name='keywords' content='HTML5 Template swoo Multi-Purpose themeforest')
  meta(name='description' content='swoo - Multi-Purpose HTML5 Template')
  meta(name='author' content='')
  // Title
  title Giỏ hàng của bạn
  // Favicon
  link(rel='shortcut icon' href='../common/assets/img/fav2.png' title='Favicon' sizes='16x16')
  // bootstrap 5
  // font family
  link(href='https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap' rel='stylesheet')
  // fontawesome icons
  link(rel='stylesheet' href='/cartcss/all.min.css')
  // fontawesome icons
  link(rel='stylesheet' href='/cartcss/line-awesome.css')
  // animate css
  link(rel='stylesheet' href='/cartcss/animate.css')
  // fancybox popup
  link(rel='stylesheet' href='/cartcss/jquery.fancybox.css')
  // lity popup
  link(rel='stylesheet' href='/cartcss/lity.css')
  // swiper slider
  link(rel='stylesheet' href='/cartcss/swiper8.min.css')
  // common style
  link(rel='stylesheet' href='/cartcss/common_style.css')
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  // home style
  link(rel='stylesheet' href='/cartcss/inner_pages.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" )
  link(
  sizes="20x20" 
  title="Favicon" 
  href="/css/logo2.jpg" 
  rel="shortcut icon"
  )
  // bootstrap 5
  link(
    href="/css/bootstrap.min.css" 
    rel="stylesheet"
    )
  // font family
  link(
    rel="stylesheet" 
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    )
  // fontawesome icons
  link(
    href="/css/all.min.css" 
    rel="stylesheet"
    )
  // ionicons icons
  link(
    href="/css/ionicons.css" 
    rel="stylesheet"
    )
  // animate css
  link(
    href="/css/animate.css" 
    rel="stylesheet"
    )
  // fancybox popup
  link(
    href="/css/jquery.fancybox.css" 
    rel="stylesheet"
    )
  // lity popup
  link(
    href="/css/lity.css" 
    rel="stylesheet"
    )
  // swiper slider
  link(
    href="/css/swiper8.min.css" 
    rel="stylesheet"
    )
  // izi toast
  link(
    href="/css/iziToast.min.css" 
    rel="stylesheet"
    )
  // common style
  link(
    href="/css/common_style.css" 
    rel="stylesheet"
    )
  // home style
  link(
    href="/css/home_5_style.css" 
    rel="stylesheet"
    )
.snowflakess(aria-hidden='true')
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  .snowflakes
    .inner &#x2745;
  
  
  
<div id="snow" data-count="200"></div>

.navbar-containerphicss
      // Start offer navbar
      .offer-nav-style5
        .containerphicss
          .row.align-items-center.gx-0
            .col-lg-3
              h4.ml-5.fsz-30.fw-600(style="color : white; margin-left : 45px;") E-Commerce Website
            .col-lg-3
              .timing(style="margin-left : 110px;")
                .item.p-1
                  small(style="color : #809AA7; font-weight : 600;") Day
                  P(style="color : #5B97BF;") #{newdata[0]}
                .item.p-1
                  small(style="color : #809AA7; font-weight : 600;") Month
                  p(style="color : #5B97BF;")  #{newdata[1]}
                .item.p-1
                  small(style="color : #809AA7; font-weight : 600;") Year
                  p(style="color : #5B97BF;")  #{newdata[2]}
         
            .col-lg-6.text-lg-end
              a.butn.md-butn.bg-brown1.text-white.radius-3.fw-600.fsz-12.text-uppercase(href="/auth/loginadmin" style="background : white !important;margin-right : 20px;")
                span(style="color : #5B97BF; font-weight 600;padding : 5px;") Kênh Người Bán
        span.cls
      // End offer navbar
      // Start top-navbar
      // End top-navbar
      // Start navbar
      nav.tc-navbar-style5.navbar-light
        .containerphicss
          .content
            .row.align-items-center
              .col-lg-2
                a.brand(href="#")
                  img(
                    alt="" 
                    style ="object-fit: cover;"
                    src="/css/logo8.jpg"
                    )
                a.btn-mob-menu.d-lg-none(
                  data-bs-toggle="offcanvas" 
                  href="#offcanvasExample"
                  )
                  i.fal.fa-bars
              .col-lg-5.pe-lg-4.mt-4
                .search-cat(style="margin-left :50px; margin-bottom : 15px;")
                  .input-group.d-flex.align-items-center
                    input.form-control(
                      style="background : white; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; !important;"
                      placeholder="Search anything..." 
                      type="text"
                      )
                    a.search-btn.color-orange1.d-flex.align-items-center.justify-content-center(style="background : #5B97BF; width : 50px; height : 46px; !important; border-radius : 50%;")
                      i.fal.fa-search(style="color : white; font-size : 17px;")
              .col-lg-5
                .nav-side.d-none.d-lg-flex
                  .hot-line.d-flex.align-items-center(style="margin-left : 120px;")
                    <i class="fa-solid fa-phone-volume" class="icon" style ="margin-right : 25px; margin-top:5px; font-size : 28px; color : #5B97BF;"></i>
                    .inf
                      small.fsz-12.d-block.mb-1(style="color : #809AA7;") Hotline 24/7
                      h6.fsz-16.fw-bold
                        a(href="tel:(025)36862516" style="color : #809AA7;") (036) 2655 781
                  .icons.mt-3
                    a(href="/auth/loginuser/logout")
                      i(class="fa-solid fa-arrow-right-to-bracket" style="color : #5B97BF; font-size : 21px;")
                    a(href="/profile")
                      <i class="fa-regular fa-user" style="color : #5B97BF;font-size : 21px;"></i>
                      span.dot
                    a(href="/chat/null")
                      <i class="fa-regular fa-comments" style="color : #5B97BF; font-size : 21px;" ></i>
                    a(href="/cart/cartuser")
                      i.fal.fa-shopping-bag(style="color : #5B97BF; font-size : 21px;")
                      span.num 2
      // End navbar
      // Start links-navbar

.body-container
  .container.container-llgg

    // End navbar container
    // Contents
    main
      // Start breadcrumb       
      section.tc-cart.p-5.radius-4.bg-white.mt-3.mb-3
        .row
          .col-lg-12
            form(action="" formchangeinput)
            .products(qualityincart)
              each item in data
                .product-card.mt-4(datacart idcartuserclient=item.id style="border : 2px solid #5B97BF")
                  .top-inf.d-flex
                    .dis-card(style="background : #5B97BF")
                      small.fsz-10.fw-600.d-block.text-uppercase  save 
                      h6.fsz-14  #{item.discountPercentage} %
                    div.fav-btn(href='#0' style="margin-right : 15px;")
                      input.form-check-input(type="checkbox" checked=(item.check == "1" ? true : false) style="margin-top : 6px !important;"  checkchoosecart idcartuser=item.id)
                    a.remove-btn(href='#0' buttondeletecart=item.id style="color : #5B97BF; padding : 7px 10px; background : white;border-radius : 50%;")
                      i.fa-solid.fa-trash-can.fsz-15.fw-900
                  a.img(href='#0' style="margin-left : 25px")
                    img.img-contain.main-image(src=item.thumbnail alt='')
                  .info(style="margin-top : 11px;margin-left : 40px;")
                    .rating
                      .stars
                        <i class="fa-solid fa-star fa-xs" style="color: #5B97BF; font-size : 12px;"></i>
                        <i class="fa-solid fa-star fa-xs" style="color: #5B97BF; font-size : 12px;"></i>
                        <i class="fa-solid fa-star fa-xs" style="color: #5B97BF; font-size : 12px;"></i>
                        <i class="fa-solid fa-star fa-xs" style="color: #5B97BF; font-size : 12px;"></i>
                        <i class="fa-solid fa-star fa-xs" style="color: #5B97BF; font-size : 12px;"></i>
                      span.num(style="color: #7D7F82;")  (152) 
                    h6
                      a.prod-title.fsz-14.fw-900.hover-green2(href='#' style="color : #7D7F82;margin-top : 10px;")  #{item.title}
                    .price.mt-15
                      h5.fsz-18.fw-600(style="color : #5B97BF") #{item.priceNew}
                    .add-more.mt-3
                      span.qt-minus
                        i.fas.fa-minus.btn-down(style="color: #7D7F82;") 
                      input.qt.border-0(type='text' style="text-align : center;margin-right : 16px ;" priceoneproducts=item.priceNew value=item.quality inputcart min=1 idsanpham=item.idsanpham )
                      span.qt-plus
                        i.fas.fa-plus.btn-up(style="color: #7D7F82;") 
                  
                    p.fsz-12.mt-3.d-.flex.align-items-center
                      i.fas.fa-check-circle.me-1.fsz-14(style="color : #5B97BF")
                      span.fsz-14.fw-600(style="color : #5B97BF;margin-left : 10px;")  In stock
                  div(style="flex : 1; background : #5B97BF; margin : -15px; margin-left : 80px" class="phicsscart3dsclient")
                   img(src="/images/nguoituyet.png", class="animate__animated animate__bounce animate__infinite" alt="")
                   img(src="/images/onggianoel.png", class="animate__animated animate__bounce animate__infinite")
                   img(src="/images/tuanloc.png", class="animate__animated animate__bounce animate__infinite" alt="")
          .col-lg-12.mt-5(class="phicssoderpay")
            .row(style="display: flex; align-items: center; justify-content: space-between;")
                .col-xl-7(style="display: flex; align-items: center; ")
                 
                .col-xl-5(style="display: flex; align-items: center; justify-content: space-between;")
                 .row.d-flex.align-items-center.justify-content-between
                   .col-xl-6
                      div 
                        strong.color-000.text-uppercase.fw-600(style="color : #7D7F82 !important;margin-right : 7px !important;")  Tổng Tiền: 
                        strong.color-000.fsz-17(totalcartuser=total style="color : #5B97BF !important")  #{(total).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + ' VNĐ'}
                   .col-xl-6
                      div.d-flex.align-items-center.justify-content-between
                        img(src="/images/home_1_snowman.png", class="animate__animated animate__swing animate__infinite" style ="width : 100px ; height : 100px;margin-right : 20px" alt="")
                        .btn.pt-3(style="width: 200px; background : #5B97BF; border-radius : 10px;margin-left : 10px;")
                              a.butn.text-white.radius-4.fw-500.fsz-12.text-uppercase.text-center.mt-3.mt-lg-0.py-3.px-3.w-100(href='/cart/oder/pay' )
                                span.fw-600  checkout 
      // End cart
    // End-Contents
// Start footer
//- footer.tc-footer-style3
  .container
    .footer-content
      .row
        .col-lg-4
          .foot-info
            h6.fsz-18.fw-bold.mb-30.text-uppercase  Swoo - 1st NYC tech online market 
            p.text-uppercase  hotline 24/7 
            h4.fsz-30.fw-bold.color-green2.mb-30  (025) 3686 25 16 
            p.fsz-14.color-000
              | 257 Thatcher Road St, Brooklyn, Manhattan, 
              br
              |  NY 10092
            a.fsz-14.color-000(href='#')  contact@Swootechmart.com 
            .foot-social.mt-40
              a(href='#')
                i.fab.fa-twitter
              a(href='#')
                i.fab.fa-facebook-f
              a(href='#')
                i.fab.fa-instagram
              a(href='#')
                i.fab.fa-youtube
              a(href='#')
                i.fab.fa-pinterest
        .col-lg-2
          .links
            h6.fsz-18.fw-bold.mb-30.text-uppercase  top Categories 
            ul.links-list
              li
                a(href='#')  Laptops 
              li
                a(href='#')  PC &amp; Computers 
              li
                a(href='#')  Cell Phones 
              li
                a(href='#')  Tablets 
              li
                a(href='#')  Gaming &amp; VR 
              li
                a(href='#')  networks 
              li
                a(href='#')  Cameras 
              li
                a(href='#')  Sounds 
              li
                a(href='#')  Office 
        .col-lg-2
          .links
            h6.fsz-18.fw-bold.mb-30.text-uppercase  company 
            ul.links-list
              li
                a(href='#')  About Swoo 
              li
                a(href='#')  Contact 
              li
                a(href='#')  Career 
              li
                a(href='#')  Blog 
              li
                a(href='#')  Sitemap 
              li
                a(href='#')  Store Locations 
        .col-lg-2
          .links
            h6.fsz-18.fw-bold.mb-30.text-uppercase  help center 
            ul.links-list
              li
                a(href='#')  Customer Service 
              li
                a(href='#')  Policy 
              li
                a(href='#')  Terms &amp; Conditions 
              li
                a(href='#')  Trach Order 
              li
                a(href='#')  FAQs 
              li
                a(href='#')  My Account 
              li
                a(href='#')  Product Support 
        .col-lg-2
          .links
            h6.fsz-18.fw-bold.mb-30.text-uppercase  partner 
            ul.links-list
              li
                a(href='#')  Become Seller 
              li
                a(href='#')  Affiliate 
              li
                a(href='#')  Advertise 
              li
                a(href='#')  Partnership 
      .footer-btm-info.mt-60
        .row
          .col-lg-4
            .dropdowns
              ul.links-ul
                li.dropdown
                  a#navbarDropdown.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                    i.la.la-dollar-sign.me-1
                    |  USD
                  ul.dropdown-menu(aria-labelledby='navbarDropdown')
                    li
                      a.dropdown-item(href='#') USD
                    li
                      a.dropdown-item(href='#') USD
                li.dropdown
                  a#navbarDropdown1.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                    img.me-1.icon-15(src='images/eng.png' alt='')
                    |  Eng
                  ul.dropdown-menu(aria-labelledby='navbarDropdown1' style='')
                    li
                      a.dropdown-item(href='#') Arabic
          .col-lg-8
            .subscribe-content
              h6.fsz-18.fw-bold.mb-30.text-uppercase
                | subscribe &amp; get 
                span.color-red1  10% off 
                |  for your first order
              .form-group
                span.icon
                  i.la.la-envelope
                input(type='text' placeholder='Enter your email address')
                button
                  | subscribe 
                  i.la.la-long-arrow-right.ms-2.fsz-18
              p.fsz-13.fst-italic.color-666.mt-2
                | By subscribing, you&rsquo;re accepted the our 
                a.color-000.text-decoration-underline(href='#')  Policy 
    .foot
      .row.align-items-center
        .col-lg-4.text-center.text-lg-start
          p.color-666
            | &copy; 2024 
            strong.color-000  Swoo 
            | . All Rights Reserved
        .col-lg-4
          .pay-imgs.text-center.my-3.my-lg-0
            img(src='images/pay1.png' alt='')
            img(src='images/pay2.png' alt='')
            img(src='images/pay3.png' alt='')
            img(src='images/pay4.png' alt='')
            img(src='images/pay5.png' alt='')
        .col-lg-4.text-center.text-lg-end
          a.text-primary(href='#')
            i.la.la-mobile.me-1.fsz-16
            |  Mobile Site
  .mob-navigation.d-flex.d-lg-none
    ul
      li.list
        a(href='#0')
          span.icon
            i.las.la-sync-alt
          span.text Compare
      li.list
        a(href='#0')
          span.icon
            i.lar.la-heart
          span.text Favorite
      li.list.active
        a(href='#0')
          span.icon
            i.las.la-home
          span.text Home
      li.list
        a(href='#0')
          span.icon
            i.las.la-shopping-bag
          span.text Cart
      li.list
        a(href='#0')
          span.icon
            i.las.la-user
          span.text Profile
      li.indicator
// End footer
// Start to top button
//
  <a href="#" class="to_top">
  <i class="la la-angle-up"></i>
  </a>
// End to top button
// request
script(src='js/jquery-3.0.0.min.js')
script(src='js/jquery-migrate-3.0.0.min.js')
script(src='js/bootstrap.bundle.min.js')
script(src='js/wow.min.js')
script(src='js/jquery.fancybox.js')
script(src='js/lity.js')
script(src='js/swiper8-bundle.min.js')
script(src='js/jquery.waypoints.min.js')
script(src='js/jquery.counterup.js')
script(src='js/parallaxie.js')
script(src='js/common_js.js')
// ===== home scripts =====
// <script src="../home_tech/assets/js/home_3_scripts.js"></script>
// ===== innerpages scripts =====
script(src='js/inner_pages.js')
script(src="/socket.io/socket.io.js")
script(src="/jsclient/io.js")
script(src='/jsclient/jslayout.js')
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/admin/js/pure-snow.js"></script>



